body {
  margin: 0;
  background-color: #222222;
  background-repeat: no-repeat;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  color: #ffff;
  justify-content: center;
  font-size: 76px;
  padding: 0 5rem 0 5rem;
  align-items: center;
  cursor: default;
}

.html-tag {
  background: linear-gradient(
    to right, #ff8500, 
    #ff666f, 
    #fa6aa4,
    #df7dd3, 
    #9bb6ff, 
    #86cbff, 
    #8adcff
  );  
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .2s ease-in-out;
  cursor: default;
  margin-left: 1rem;
}

.html-tag:hover {
  transform: scale(1.1);
}

/* .languages-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
} */

/* .language-icon {
  height: 3rem;
  width: 3rem;
} */

@media only screen and (max-width: 1000px) {
  .class-cards {
    display: flex;
    flex-direction: column;
  }
}

/*------- Class cards ------ */
.class-cards {
  color: #fff;
  display: flex;
  flex-direction: row;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
  /* text-shadow: 1px 1px 3px #000; */
  padding: 2rem 2rem;
}

.unitary-card {
  display: flex;
  flex-direction: column;
  color: #333333;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 6rem;
  transition: all .2s ease-in-out;
  margin-right: 1rem;
  width: 60rem;
}

.unitary-card:hover {
  transform: scale(1.05);
}

.card-header {
  justify-content: center;
  color: #fff;
  background: linear-gradient(
    8deg,
    rgba(82,82,82,1) 0%,
    rgba(255,133,0,1) 0%,
    rgba(205,28,180,1) 55%,
    rgba(62,0,250,1) 100%
  ); 
  /* border-radius: 1rem 1rem 0 0; */
  align-items: center;
}

.card-content {
  background-color: #fff;
}

/* ------- Cards contents to left side ------ */

/* .card-written-left {
  border-radius: 1rem;
  margin-right: -1rem;
  background-color: #fff; 
  z-index: 2;
}

.card-colored-left {
  width: 40rem;
  border-radius: 1rem 0 0 1rem;
  background: linear-gradient(270deg, rgba(82,82,82,1) 0%, rgba(131,204,255,1) 0%, rgba(0,104,255,1) 100%);
} */

/*------- Cards contents to left side ------ */

/*------- Cards contents to right side ------ */

/* .card-written-right {
  border-radius: 1rem;
  margin-left: -1rem;
  background-color: #fff; 
  z-index: 2;
}

.card-colored-right {
  width: 40rem;
  border-radius: 0 1rem 1rem 0rem;
  background: linear-gradient(90deg, rgba(82,82,82,1) 0%, rgba(202,131,255,1) 0%, rgba(78,0,133,1) 100%);
}
 */

/*------- Cards contents to right side ------ */

.card-title {
  text-align: center;
  padding-top: 0.5rem;
}

.card-text {
  font-size: 18px;
  padding: 2rem;
  margin: 0;
}

.class-menu {
}


.class-objective {

}

.class-skills {
}

.class-criteria {
}
/*------- Class cards ------ */

/*------- Class content ------ */

.class-content {
}
/*------- Class content ------ */

.menu-icon {
  display: flex;
  margin: auto;
  background-color: #ffff;
  border-radius: 50%;
  height: 5rem;
}

.objective-icon {
  width: 3.5rem;
  padding: 4.5rem 0 0 4rem;
}