/*------- Global styles ------ */
body {
  margin: 0;
  background: #222222;
  background-repeat: no-repeat;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  cursor: default;
}

h1 {
  font-size: 4.75rem;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

h4 {
  margin: 0;
  padding-top: 0.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
}
/*------- Global styles ------ */


/*--------- Header ------ */
.header-container {
  display: flex;
  flex-direction: column;
  color: #ffff;
  justify-content: center;
  padding: 0 5rem 0 5rem;
  align-items: center;
}

.header-top-side {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 4rem;
}

.icon-unicamp, .icon-ft {
  width: 9rem;
}

.header-bottom-side {
  padding: 3rem 0 1.5rem 0;
  display: flex;
}

.class-name {
  margin: 0;
}

.html-tag {
  background: linear-gradient(
    to right,
    #ff8500,
    #ff666f,
    #fa6aa4,
    #df7dd3,
    #9bb6ff,
    #86cbff,
    #8adcff
  );
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: default;
  margin: 0;
  padding-left: 1rem;
}

.html-tag:hover {
  transform: scale(1.1);
}

.teacher-name {
  font-weight: 500;
}
/*--------- Header ------ */


/*------- Class cards ------ */
.class-cards {
  display: flex;
  flex-direction: row;
  color: #fff;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
  /* text-shadow: 1px 1px 3px #000; */
  padding: 5rem 2rem 2rem 2rem;
}

.card-header {
  display: flex;
  justify-content: center;
  height: 6.25rem;
  background: rgb(74,159,247);
  background: linear-gradient(203deg, rgba(74,159,247,1) 0%, rgba(135,74,247,1) 54%, rgba(251,83,227,1) 100%);
}

.unitary-card {
  display: flex;
  flex-direction: column;
  color: #000;
  background-color: #fffafa;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  width: 60rem;
}

.unitary-card:hover {
  transform: scale(1.02);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  text-align: center;
  padding-top: 4rem;
}

.card-text {
  height: 12rem;
  font-size: 1.125rem;
  padding: 2rem;
  margin: 0;
}

.card-header-icon {
  z-index: 1;
  width: 3.5rem;
  position: absolute;
  padding: 2.1rem 0 0 2.1rem;
}

.card-header-content {
  padding-top: 2.2rem;
}

.icon-background {
  width: 7.5rem;
  position: relative;
}
/*------- Class cards ------ */


/*------- Topics cards ------ */
.topics-container {
  display: flex;
  flex-direction: column;
  padding: 0rem 3.05rem 0 2rem;
  font-family: "Roboto", sans-serif;
}

.topics-header {
  display: flex;
  flex-direction: row;
  color: #ffff;
  justify-content: center;
  padding: 3rem 5rem 0 5rem;
  align-items: center;
  cursor: default;
}

.lateral-image {
  width: 10rem;
  align-items: center;
  justify-content: center;
  display: flex;
  background: rgb(74,159,247);
  background: linear-gradient(203deg, rgba(74,159,247,1) 0%, rgba(135,74,247,1) 34%, rgba(251,83,227,1) 100%);
}

.topic-icon {
  z-index: 1;
  width: 3rem;
  position: absolute;
}

.topic-icon-background {
  width: 5.5rem;
  position: relative;
}

.topic-title {
  padding: 1.5rem 0 0 1.5rem;
  font-size: 1.5px;
}

.topic-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.unitary-topic-card {
  display: flex;
  flex-direction: row;
  background-color: #fffafa;
  margin-bottom: 2rem;
  width: 55rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.unitary-topic-card:hover, 
.programmatic-card:hover, 
.back-container:hover {
  transform: scale(1.02);
}

.topic-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topic-text {
  display: flex;
  text-align: justify;
  flex-direction: column;
  font-size: 1.125rem;
  padding: 0 1.5rem 0 1.5rem;
}

.container-programmatic-content {
  display: flex;
  color: #ffff;
  justify-content: center;
  padding: 3rem 5rem 0 5rem;
  cursor: default;
}

.content-title {
  color: #000;
  padding: 0.5rem 2rem;
  font-size: 2.3rem;
  font-weight: 500;
}

.programmatic-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.programmatic-content-icon {
  height: 5rem;
}

.back-container {
  transition: all 0.2s ease-in-out;
  padding-right: 1rem;
}

.back-icon-container {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  background: linear-gradient(203deg, rgba(74,159,247,1) 0%, rgba(135,74,247,1) 34%, rgba(251,83,227,1) 100%);
  border-radius: 50%;
}

.back-icon {
  position: absolute;
  z-index: 2;
  padding: 0.23rem;
}
/*------- Topics cards ------ */


/*------- Footer ------ */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-bottom: 1rem;
  height: 4rem;
  background: #222222;
  color: #fff;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-git {
  width: 3rem;
  padding-left: 1rem;
  transition: all 0.2s ease-in-out;
}

.icon-git:hover {
  transform: scale(1.08);
}
/*------- Footer ------ */


/*------- Responsive section ------ */
@media only screen and (max-width:768px) {
  /*------- Global ------ */
  .main-container {
    justify-content: center;
  }

  h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .header-container, .footer-container {
    flex-direction: column;
  }
  /*------- Global ------ */


  /*------- Header ------ */
  .html-tag {
    font-size: 3.5rem;
    margin: 0;
    padding-top: 1rem;
  }
  /*------- Header ------ */


  /*------- Class cards ------ */
  .class-cards {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .unitary-card {
    width: 20rem;
    margin: 0 0 2rem 0
  }

  .card-content {
    height: 28rem;
  }
  /*------- Class cards ------ */


  /*------- Topics cards ------ */
  .topic-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*------- Topics cards ------ */

  /*------- Footer ------ */
  .icon-git {
    padding: 1rem 0 1rem 0;
  }
  /*------- Footer ------ */
}

@media only screen and (max-width:1538px) { 
  .card-content {
    height: 25rem;
  }

  .topic-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width:1430px) { 
  .card-content {
    height: auto;
  }

  .card-text {
    height: auto;
  }

  .topic-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width:1842px) {
  .topic-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .unitary-topic-card {
    width: 80rem;
  }
}

@media only screen and (max-width: 1337px) {
  .unitary-topic-card {
    width: 55rem;
  }
}

@media only screen and (max-width: 995px) { 
  .unitary-topic-card {
    width: 50rem;
  }
}

@media only screen and (max-width: 1143px) { 
  .unitary-topic-card {
    width: 50rem;
  }

  .header-bottom-side {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .teacher-name {
    text-align: center;
  }
}

@media only screen and (max-width: 879px) { 
  .class-cards {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .unitary-card {
    width: 20rem;
    margin: 0 0 2rem 0
  }

  .card-content {
    height: 28rem;
  }
}

@media only screen and (max-width: 879px) { 
  .unitary-topic-card {
    width: 35rem;
  }
}

@media only screen and (max-width: 615px) {
  .unitary-topic-card {
    width: 20rem;
  }
}
/*------- Responsive section ------ */

